RewriteEngine On

RewriteRule ^auditionround  result-audition-round.php [NC,L]
RewriteRule ^performanceround  result-performance-round.php [NC,L]
RewriteRule ^grammarskillsround  result-national-round.php [NC,L]
RewriteRule ^espellbeecontest  result-espellbee-contest.php [NC,L]
RewriteRule ^importantalerts  important-alerts.php [NC,L] 
